.todoItem {
    margin: 10px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

[type='submit']{
    color: black;
    background: 0;
    border: 0;
 
}

[type='submit']:hover{
    cursor: pointer;
    list-style: square;
}

.todoListContainer{
    position:relative;
    margin-top: 50;;
}











