.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 85px;
    padding-left: 77px;
    width: 320px;
    height: 343px;
    top: 150px;

    background: #f1f1f1;
    border-radius: 20px;

    --volume-bar-height: 2px;

    position: relative;
}


.range1 {
    -webkit-appearance: none;
    background-color: #838383;
    height: var(--volume-bar-height);
    width: 80%;
    cursor: pointer;
    opacity: 1;
}

.range2 {
    -webkit-appearance: none;
    background-color: #838383;
    height: var(--volume-bar-height);
    position: relative;
    top: 65px;
    width: 80%;
    cursor: pointer;
    opacity: 1;
}

.range3 {
    -webkit-appearance: none;
    background-color: #838383;
    height: var(--volume-bar-height);
    position: relative;
    top: 130px;
    width: 80%;
    cursor: pointer;
    opacity: 1;
}

.range4 {
    -webkit-appearance: none;
    background-color: #838383;
    height: var(--volume-bar-height);
    position: relative;
    top: 195px;
    width: 80%;
    cursor: pointer;
    opacity: 1;
}

.range5 {
    -webkit-appearance: none;
    background-color: #838383;
    height: var(--volume-bar-height);
    position: relative;
    top: 260px;
    width: 80%;
    cursor: pointer;
    opacity: 1;
}
