#page-container {
  position: relative;
  min-height: 821px;
}

#content-wrap {
  padding-bottom: 40px; /* Footer height */
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 160px;
}

.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 40px;
  left: 0;
}

.footer #cont {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  height: auto;
}

.footer_center {
  width:500px;
  float:left;
  text-align:center;
  justify-content: center;
}

.footer h3 {
  font-family: 'Helvetica';
  font-size: 30px;
  font-weight: 100;
  margin-left: 40px;
  height: auto;
}

.footer #icons {
  display: flex;
  justify-content: space-evenly;
}

a #icons {
  width: 100%;
  margin: auto;
}

.calendarFonts {
  all: initial;
}

.button-exit {
  border: none;
  color: white;
  background-color: transparent;
  left: 240px;
  position: relative;
  top: 14px;
}

.button-noborder {
  border: none;
  background-color: transparent;
}

.sdp--date-btn__selected {
  background-color: var(--theme-color);
  box-shadow: var(--shadow);
  color: var(--selected-date-color);
  border-radius: 1rem;
  width: 35px;
  height: 35px;
}

.sdp--month-picker {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: groove;
  border-bottom-width: medium;
}

.sdp--dates-grid {
  display: grid !important;
  grid-gap: 4px !important;
  gap: 10px !important;
  grid-template-columns: repeat(7, 1fr) !important;
  justify-items: center !important;
  height: 18rem !important;
  display: grid !important;
  margin: 0.5rem 0 0 !important;
  font-size: small !important;
}

.sdp--text {
  color: #000000;
  font-size: large;
  font-weight: 200;
}

.sdp--sdp--text__inactive {
  font-weight: bolder;
}

.sdp--square-btn__shadowed,
.sdp--square-btn__shadowed:focus:hover {
  box-shadow: none;
}

p.sdp--text.sdp--month-name {
  font-weight: bold;
  font-size: small;
}

.sdp--square-btn__shadowed,
.sdp--square-btn__shadowed:focus:hover {
  box-shadow: none;
}

p.sdp--text.sdp--month-name {
  font-weight: bold;
  font-size: small;
}

.sdp--text {
  color: #000000;
  font-size: large;
  font-weight: 200;
}

.sdp--sdp--text__inactive {
  font-weight: bolder;
}

.div.sdp {
  background-color: white !important;
  width: 350px !important;
  height: 350px !important;
}

.sdp {
  --theme-color: #e4e4e4 !important; /* violet color */
  --selected-date-color: #000000 !important; /* light-gray color */
  --font: 'KorolevMedium', sans-serif !important;
  --shadow: none !important;
}

.calendarwidget {
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: 20px;
  border-top: solid;
  background-color: white;
  color: white;
}

.button-exit img {
  width: 15px;
  height: 15px;
}

.button-exit {
  border: none;
  color: white;
  background-color: transparent;
  left: 240px;
  position: relative;
  top: 10px;
}

.button-noborder {
  border: none;
  background-color: transparent;
}

.sdp--date-btn__selected {
  background-color: var(--theme-color);
  box-shadow: var(--shadow);
  color: var(--selected-date-color);
  border-radius: 1rem;
  width: 35px;
  height: 35px;
}

.sdp--month-picker {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: groove;
  border-bottom-width: medium;
}

.sdp--dates-grid {
  display: grid !important;
  grid-gap: 4px !important;
  gap: 10px !important;
  grid-template-columns: repeat(7,1fr) !important;
  justify-items: center !important;
  height:18rem !important;
  display: grid !important;
  margin: 0.5rem 0 0 !important;
  font-size: small !important;
}

.sdp--text {
  color: #000000;
  font-size: large;
  font-weight: 200;
}

.sdp--sdp--text__inactive {
  font-weight: bolder;
}

.sdp--square-btn__shadowed, .sdp--square-btn__shadowed:focus:hover {
  box-shadow: none;
}

p.sdp--text.sdp--month-name {
  font-weight: bold;
  font-size: small;
}

.sdp--square-btn__shadowed, .sdp--square-btn__shadowed:focus:hover {
  box-shadow: none;
}

p.sdp--text.sdp--month-name {
  font-weight: bold;
  font-size: small;
}

.sdp--text {
  color: #000000;
  font-size: large;
  font-weight: 200;
}

.sdp--sdp--text__inactive {
  font-weight: bolder;
}


.div.sdp {
  background-color: white !important;
  width: 350px !important;
  height: 350px !important;
}

.sdp {
  --theme-color: #E4E4E4 !important; /* violet color */
  --selected-date-color: #000000 !important; /* light-gray color */
  --font: 'Roboto', sans-serif !important;
  --shadow: none !important;
}

.calendarwidget {
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: 20px;    
  border-top: solid;
  background-color: white;
  color:white;
}

.button-exit img {
  width:15px;
  height: 15px;
}