.selectThemeTitle {
  font-family: 'KorolevMedium';
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.themeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.themeBackground {
  background-color: #f2f2f2;
  width: 612px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.themeContainer button {
  background-color: #0e1617;
  color: white;
  padding: 25px;
  border: 0;
  width: 450px;
  margin: 12px;
  border-radius: 20px;
  font-family: 'KorolevMedium';
  font-size: 24px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s;
}

.themeContainer button:hover {
  background-color: white;
  color: black;
}
