body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'KorolevMedium';
  src: local('KorolevMedium'),
    url('./assets/fonts/Korolev-Medium.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'KorolevHeavy';
  src: local('KorolevHeavy'),
    url('./assets/fonts/Korolev-Heavy.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Korolev Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Korolev Bold'),
    url('./assets/fonts/Korolev-Bold.woff') format('woff');
}
